#---------------------------------------------------------
# Comments
#---------------------------------------------------------

snippet dcom "A divider comment. 80 chars wide." A
/**------------------------------------------------------------------------------
 * ${1:Title}
 ------------------------------------------------------------------------------*/
endsnippet

snippet tcom "A divider comment with description. 80 chars wide." b
/**------------------------------------------------------------------------------
 * ${1:Title}
 * ${2:Description}
 ------------------------------------------------------------------------------*/
endsnippet
